body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
    margin-bottom: 0px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

ul {
    list-style-type: none;
}

.mainbox {
    max-width: 800px;
    height: 350px;
}

#addCityBtn {
    margin-right: 10px;
    margin-left: 10px;
}

.green {
    background-color: #299500;
    color: white;
    border-style: solid 2px;
    border-color: #299500;
}

.yellow {
    background-color: #F8E500;
    color: black;
    border-style: solid 2px;
    border-color: #F8E500;
}

.orange {
    background-color: #F95901;
    color: white;
    border-style: solid 2px;
    border-color: #F95901;
}

.red {
    background-color: #F95901;
    color: white;
    border-style: solid 2px;
    border-color: #F95901;
}

.purple {
    background-color: #6C49Cb;
    color: white;
    border-style: solid 2px;
    border-color: #6C49Cb;
}