body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
    margin-bottom: 0px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

ul {
    list-style-type: none;
}

.mainbox {
    max-width: 800px;
    height: 350px;
}

#addCityBtn {
    margin-right: 10px;
    margin-left: 10px;
}